body {
    font-family: Arial;
    font-size: 14px;
}

ul { margin: 40px 20px; }

ul.contents {
    position: fixed;
    top: 15px;
    right: 15px;
    background-color: #eee;
    font-family: Arial;
    font-size: 12px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    width: 300px;
}

ul.contents li {
    padding: 10px 20px;
    color: #555;
    cursor: pointer;
}

ul.contents li:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

ul.contents li.active {
    background-color: #ccc;
    color: orangered;
    font-weight: bold;
    cursor: default;
    text-shadow: 1px 1px 1px white;
}

ul.contents li.header {
    background-color: #888;
    color: #ddd;
    cursor: default;
    padding: 5px;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 20px;
  font-size: 22px;
  color: #444;
  width: 50%;
}
blockquote span {
  font-size: 12px;
}